<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="ERROR">
    <Appenders>
        <Console name="consola" target="SYSTEM_OUT">
            <PatternLayout pattern=" %d %p %c  linea : %L %m %n"/>
        </Console>
        
        <File name="fichero" fileName="logs/app.log">
            <PatternLayout>
                <Pattern>%d %m%n</Pattern>
            </PatternLayout>
        </File>
        
    </Appenders>
    <Loggers>
		<!-- avoid duplicated logs with additivity=false -->
        <Logger name="com.arquitecturajava" level="debug" additivity="false">
            <AppenderRef ref="consola"/>
             <AppenderRef ref="fichero"/>
        </Logger>
    </Loggers>
</Configuration>